<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO DEL PORTAL DE GOBIERNO ABIERTO</h2>
    <strong>1. Ámbito de aplicación de las condiciones de uso</strong>
    <p>La participación (entendiéndola como participación activa más allá de la lectura del contenido presente) en el Portal de Participación Ciudadana participa.laspalmasgc.es de la Oficina de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
    <p>La Oficina de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria se reserva la facultad de modificar las presentes condiciones de uso para la participación en el Portal de Participación Ciudadana participa.laspalmasgc.es, cuya última versión se publicará en este sitio web.</p>
    <strong>2. Objetivo de la iniciativa</strong>
    <p>A través del Portal de Participación Ciudadana, la Oficina de Participación del Ayuntamiento de Las Palmas de Gran Canaria quiere fomentar la participación de los ciudadanos en la gestión de la ciudad, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a los ciudadanos que permitirá recibir sus propuestas y, además, crear canales directos de comunicación con los gobiernos municipales, contribuyendo a tomar las decisiones más acertadas para el interés general.<p>
    <strong>3. Cuestiones generales sobre la participación en el portal de participación del Ayuntamiento de Las Palmas de Gran Canaria: participa.laspalmasgc.es</strong>
    <p>Podrá participar cualquier persona física a partir de los 18 años que se haya registrado previamente en el portal participa.laspalmasgc.es. Mediante la aceptación de estas condiciones de uso se declara tener 18 años o más. Los mayores de edad a cuyo cargo se encuentran los menores, son los plenos responsables de la actuación que tengan éstos en el Portal de Participación Ciudadana participa.laspalmasgc.es. No existe limitación en cuanto comentarios o iniciativas populares a presentar por los participantes.</p>
    <p>Al introducir el título de las iniciativas, se recomienda escribir una descripción breve y precisa con un máximo de 2000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>
    <strong>4. Obligaciones de los usuarios del portal de participación del Ayuntamiento de Las Palmas de Gran Canaria: participa.laspalmasgc.es</strong>
    <p>Al ser este portal un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.</p>
    <p>El Ayuntamiento de Las Palmas de Gran Canaria no es responsable del uso incorrecto del Portal de Participación Ciudadana participa.laspalmasgc.es por los usuarios o de los contenidos localizados en el mismo, siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.<p>
    <p>El Ayuntamiento de Las Palmas de Gran Canaria se reserva, por lo tanto, el derecho a limitar el acceso al Portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental de dicho portal.</p>
    <p>De acuerdo a la normativa legal vigente queda prohibida la utilización del Portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente:</p>
    <ul>
      <li>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
      <li>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
      <li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li>
      <li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.</li>
      <li>Su utilización con fines de publicidad.</li>
    </ul>
    <p>La realización de  cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de Las Palmas de Gran Canaria, a través de su Unidad de Participación Ciudadana, suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
    <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de Las Palmas de Gran Canaria no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    <p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Las Palmas de Gran Canaria quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>
    <strong>5. Uso del Portal de Participación Ciudadana</strong>
    <p>Los participantes podrán acceder y navegar por el Portal de Participación Ciudadana participa.laspalmasgc.es introduciendo sus credenciales, para cuya obtención será necesario registrarse previamente. El registro que permitirá participar comentando en cualquiera de las secciones, creando debates o iniciativas, se realizará introduciendo los siguientes datos:</p>
    <ul>
      <li>Nombre de usuario</li>
      <li>Correo electrónico</li>
      <li>Aceptación de las condiciones de uso</li>
    </ul>
    <p>El Portal de Participación Ciudadana también permite la identificación mediante el usuario de Facebook, Twitter y Google+.</p>
    <p>Para participar en un proceso participativo, apoyando iniciativas, al usuario se le requerirá que verifique su cuenta cumpliendo que tiene 18 años o más y está empadronado en uno de los 5 distritos de la ciudad de Las Palmas de Gran Canaria, para lo cual le solicitará firmar una declaración responsable confirmando su lugar de residencia y se le solicitará un medio de comunicación (teléfono móvil) a través del cual facilitarle un código seguros para completar la verificación de su cuenta.</p>
    <p>El usuario podrá interactuar con la herramienta interviniendo, al menos, de las siguientes formas:</p>
    <ul>
      <li>1. INICIATIVAS POPULARES
        En el apartado de iniciativas populares el usuario podrá participar:
        <ul>
          <li>Creando una iniciativa. Cada usuario podrá dar de alta una o más iniciativas. Las iniciativas serán publicadas automáticamente.</li>
          <li>Apoyando las iniciativas creadas por los usuarios. Las iniciativas aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez a una misma iniciativa. Cuando una iniciativa reciba apoyos equivalentes al 1% del padrón de personas con 18 años o más, la iniciativa pasará a una fase posterior donde tras ser evaluada por el área responsable confirmando inicialmente su viabilidad, podrá ser llevada a Pleno para su votación y pasar a convertirse en una acción de gobierno.</li>
          <li>Comentando las iniciativas del resto de   usuarios. Cada iniciativa podrá ser comentada por el resto de usuarios, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.</li>
        </ul>
      </li>
    </ul>
    <strong>8. Normativa aplicable</strong>
    <p>Las normas del ordenamiento jurídico español rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>
    <strong>9. Revisión de las condiciones de uso</strong>
    <p>El Ayuntamiento de Las Palmas de Gran Canaria se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando el Portal de Participación Ciudadana, se entenderán aceptadas las modificaciones introducidas.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
