<% provide :title do %><%= t('pages.titles.intellectual_property') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.intellectual_property") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES RELATIVAS A LA PROPIEDAD INTELECTUAL</h2>
    <strong>1. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</strong>
    <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido al Portal de Participación Ciudadana como a cualquier contenido que se envíe con posterioridad o se manifieste al Ayuntamiento de Las Palmas de Gran Canaria, debiendo significarse lo siguiente:</p>
    <ul>
      <li>A. No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de Las Palmas de Gran Canaria deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento de Las Palmas de Gran Canaria tratará el citado contenido como información no confidencial.</li>
      <li>B. Procedimiento: En el caso de que el Ayuntamiento de Las Palmas de Gran Canaria esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.<br>

        El Ayuntamiento de Las Palmas de Gran Canaria se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de Propiedad Intelectual e industrial".</br>

        En el supuesto que el Ayuntamiento de Las Palmas de Gran Canaria, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Ayuntamiento de Las Palmas de Gran Canaria no adquiere compromiso alguno.</li>
      <li>C. Publicidad o difusión de los contenidos  presentados: Los participantes en el Portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web participa.laspalmasgc.es, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.</li>
      <li>D. No devolución material: El  Ayuntamiento de Las Palmas de Gran Canaria carece de obligación alguna de devolver el Contenido remitido por los usuarios.</li>
      <li>E. Procedimiento de aviso y retirada: El Ayuntamiento de Las Palmas de Gran Canaria procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos al Ayuntamiento de Las Palmas de Gran Canaria. El Ayuntamiento de Las Palmas de Gran Canaria se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
    </ul>
    <strong>2. Política de privacidad y protección de datos</strong>
    <ul>
      <li>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de Las Palmas de Gran Canaria de forma voluntaria para su divulgación en el Portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria.</br>

        La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.<br>

        El Ayuntamiento de Las Palmas de Gran Canaria no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia en el portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria.<br>
        El Ayuntamiento de Las Palmas de Gran Canaria respetará todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte el contenido.<br>

        El Ayuntamiento de Las Palmas de Gran Canaria, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.<br>
      </li>
      <li>B. Protección de datos: Los datos personales aportados por los usua  rios que se registren en el Portal de Participación Ciudadana, serán incorporados y tratados en el fichero denominado “PARTICIPACIÓN CIUDADANA” (Nº INSCRIPCIÓN 2151140032), cuya finalidad es LA “GESTION DE LOS CANALES DE PARTICIPACIÓN CIUDADANA, INCLUIDOS LOS CANALES DE WEB, APLICACIONES MÓVILES Y REDES SOCIALES”. El Titular  del fichero es el Ayuntamiento de Las Palmas de Gran Canaria y.de conformidad con la Ley Orgánica 15/1999, de 13 de diciembre de 1999, de Protección de Datos de Carácter Personal le informamos de que puede ejercitar los derechos de acceso, rectificación, cancelación y oposición, en los términos legalmente reconocidos ante la OFICINA DE INFORMACIÓN Y ATENCIÓN CIUDADANA en la c/Bravo Murillo, 23, entrada por c/ Pérez Galdós, Las Palmas de Gran Canaria, 35003  Las Palmas, o enviando un correo a lopd@grancanaria.com indicando en el asunto el concreto derecho que pretende ejercitar, identificándose por medio válido en derecho e indicando dirección a efectos de notificación.
        </li>
    </ul>
    <p>Como principio general, los datos personales no serán comunicados a terceros, excepto cuando la comunicación haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o se de alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</p>

  </div>
  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
