<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>AVISO DE PROTECCIÓN DE DATOS</h2>
    <p>El Ayuntamiento de Las Palmas de Gran Canaria, se reserva el derecho a modificar o adaptar la presente Política de Privacidad en todo momento. Por lo tanto, se recomienda que revise la misma cada vez que acceda a la plataforma. En el supuesto de  que el usuario se haya registrado en la página web y acceda a su cuenta o perfil, al acceder a la misma, se le informará en el supuesto de que haya habido modificaciones sustanciales en relación con el tratamiento de sus datos personales.</p> 
    <p><strong>¿Quién es el RESPONSABLE DEL TRATAMIENTO?</strong></p>
    <p>Los datos que se recojan o se nos facilite voluntariamente por medio de la plataforma, ya sea por la navegación en la misma, así como todos aquellos que se nos pueda facilitar en los formularios de contacto, vía email o por teléfono, serán recabados y tratados por el Responsable del Fichero, cuyos datos se indican a continuación:</p>

    <table>
      <thead>
        <th>Identidad</th>
        <th>Ayuntamiento de Las Palmas de Gran Canaria</th>
      </thead>
      <tbody>
        <tr>
        <td><strong>Dirección postal</strong></th>
        <td>C/León y Castillo n.º 270, 1ª, planta</td>
        </tr>
        <tr>
        <td><strong>Teléfono</strong></th>
        <td>928448544</td>
        </tr>
        <tr>
        <td><strong>Dirección de correo electrónico</strong></th>
        <td>participacionciudadana@laspalmasgc.es</td>
        </tr>
      </tbody>
    </table>

    <p>Si, por cualquier motivo,  requiere ponerse en contacto con nosotros en cualquier cuestión relacionada con el tratamiento de sus datos personales o privacidad, en la Plataforma, puede  hacerlo a través de cualquiera de los medios indicados anteriormente.</p> 
    <p><strong>¿Cuáles son sus DERECHOS en relación con el tratamiento de sus datos?</strong></p>
    <p>Cualquier persona tiene derecho a obtener información sobre la existencia del tratamiento de sus datos personales, acceder a la información y datos personales que el Ayuntamiento de Las Palmas de Gran Canaria, tiene, solicitar la rectificación de los datos inexactos o, en su caso, solicitar la supresión, cuando, entre otros motivos, los datos ya no sean necesarios para los fines para los que fueron recogidos o el interesado retire el consentimiento que haya otorgado.</p> 
    <p>En determinados supuestos, el interesado podrá solicitar la limitación del tratamiento de sus datos, en cuyo caso, solo  se conservarían de acuerdo con la normativa vigente.</p> 
    <p>El Ayuntamiento de Las Palmas de Gran Canaria, dispone, en las Oficinas de Atención a la Ciudadanía y en la sede electrónica del Ayuntamiento (<a href="https://www.laspalmasgc.es/es/online/sede-electronica/index.html">https://www.laspalmasgc.es/es/online/sede-electronica/index.html</a>), de formularios para el ejercicio de cualquiera de los citados derechos. Del mismo modo, puede utilizar los formularios que la Agencia Española de Protección de Datos o terceros ponen a disposición de los interesados.</p> 
    <p>Estos formularios deberán ir firmados manual o electronicamente, o ir acompañados de fotocopia del DNI. Si se actúa por medio de representante, además, deberá ir acompañado de  la  copia de DNI o firma electrónica del mismo</p>
    <p>Los formularios deberán ser presentados presencialmente en el domicilio del Ayuntamiento de Las Palmas de Gran Canaria, indicado anteriormente o en cualquier oficina de Atención a la Ciudadanía, o de forma telemática en la sede electrónica del Ayuntamiento (<a href="https://www.laspalmasgc.es/es/online/sede-electronica/index.html">https://www.laspalmasgc.es/es/online/sede-electronica/index.html</a>),</p>
    <p>Tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos, en el supuesto de que considere que no se ha atendido convenientemente la solicitud de sus derechos.</p> 
    <p>El plazo máximo para resolver por el Ayuntamiento de Las Palmas de Gran Canaria, es de un mes  para el ejercicio de derecho de acceso, y de 10 días hábiles para el resto de ejercicio de derechos, plazo a  contar desde la efectiva recepción de su solicitud por nuestra parte.</p>
    <p><strong>¿QUE DATOS DE CARACTER PERSONAL RECOPILAMOS A TRAVÉS DE LA PÁGINA PLATAFORMA?</strong></p>
    <p><strong>Registro del usuario en la Página Web</strong></p>
    <p>Para acceder a la plataforma, es preciso que el usuario se registre en la misma. Para ello, en el formulario de registro, se solicitan una serie de datos personales. Los datos necesarios y obligatorios a facilitar por el usuario para llevar a cabo tal registro, se encuentran marcados con el símbolo *. En el caso de no facilitar tales campos, no se llevará a cabo el registro.</p> 
    <p>El usuario y la contraseña generados son personales e intransferibles, siendo el usuario responsable de su custodia. No recomendamos que la apunte en algún sitio y tampoco que la notifique  terceros.</p> 
    <p>Los datos de registro de cada usuario se incorporarán a las bases de datos del Ayuntamiento de las Palmas de Gran Canaria junto con el historial de acciones realizadas por el mismo, y se almacenarán en las mismas mientras no se solicite la baja de la cuenta del usuario registrado. Una vez eliminada tal cuenta, dichos datos serán apartados de nuestras bases de datos, manteniéndolos bloqueados, sin que se accedan o alteren los mismos, con el fin de mantenerlos los plazos legalmente previstos o durante el plazo que un juez o tribunal los pueda recabar.</p> 
    <p>Las finalidades del tratamiento, serán las siguientes:</p> 
    <ol>
      <li>Gestionar el alta en el área de registro de usuario y su acceso a la plataforma.</li>
      <li>Permitirle participar en todas aquellas iniciativas de participación ciudadana que organice el Ayuntamiento de Las Palmas de Gran Canaria.</li>
      <li>Remitirle información sobre acciones y actividades de participación ciudadana organizadas por el Ayuntamiento de Las Palmas de Gran Canaria.</li>
    </ol>
    <p>Por otra parte, se informa de que pueden tener acceso a sus datos personales:</p>
    <ul>
      <li>
        <dt>Empresa de mantenimiento y soporte de la plataforma de participación</dt>
        <dd>Laura Concepción Rodríguez</dd>
      </li>
    </ul>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

