// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand-green: #5aab1d;
$brand-pink: #d5278a;
$brand-blue: $brand;

.top-bar{
  height: 5rem;
  .subnavigation{
    background: transparent !important;
  }
  .top-bar-title{
    height: 5rem;
    margin: 0;
    display: inline-flex;
    a{ 
      img{
        width: auto;
        position: relative;
      }
    }
    a:first-child{
      img{
        height: 7.5rem;
      }
    }
  }
  .menu-icon.dark:after,
  .menu-icon.dark:hover::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  }
}

.top-links {
  background: $brand-green;
}
.subnavigation ul li{
  margin-left: 1rem;
  margin-right: 0;
}

.auth-image h1 {
  margin-top: 2.5rem;
  img {
    height: auto;
    width: 6rem;
  }
}

.jumbo.highlight {
  background: transparent image-url('background_portada.jpg') no-repeat scroll 0 0/cover;
  display: inline-block;
  height: 25rem;
  width: 100%;
  margin-bottom: 0;

  h1 {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-shadow: 3px 3px 3px #000;
    padding: 0.3rem 0.2rem;
  }

  .row {
    max-width: 45rem;
  }

  .button {
    background-color: $brand-pink;
    padding: 0.6rem;
  }

  .button:hover, .button:focus {
    background-color: darken($brand-pink, 20);
  }

  & + .row.sub-banner {
    margin: 0;
    background-color: #f5f4f4;
    max-width: 100%;
    padding: 3rem;

    .lead {
      max-width: 90%;
      margin: 0 auto 2rem auto;
      text-align: center;
      font-size: 1.2rem;
    }
    .button {
      background-color: $brand-blue;
      color: white;
      padding: 0.6rem;
    }
    .button:hover {
      background-color: darken($brand-blue, 20);
    }
  }
}

.expanded.budget li, .expanded.budget a{
  color: #fff;
} 

.footer {
  border-top: none;
  padding-top: 0px;
  min-height: auto;

  footer {
    background-color: $brand-green;
    color: $footer-color;
    padding-top: 3rem;
    padding-bottom: 1rem;

    a {
      color: $footer-color;
    }

    .subfooter {
      border-top: 1px solid $footer-color;
    }
  }
}

body.home-page main {
  h2 {
    white-space: nowrap;
  }
  @media screen and (min-width: 640px) {
    .row {
      .medium-6:nth-child(n+1) {
        padding: 1rem 5% 1rem 15%;
      }
      .medium-6:nth-child(n+2) {
        padding: 1rem 15% 1rem 5%;
      }
    }
  }
  @media screen and (max-width: 639px) {
    .row {
      margin: 0;
      padding: 0;
      .small-8 {
        float: none;
        margin: auto;
        padding: 2rem 10% 2rem 10%;
      }
    }
  }
}
