// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//



.top-bar{
  .top-bar-title a img{
    height: 86px;
    width: 215px;
  }
}

.auth-image h1 {
  margin-top: 2.5rem;
  img {
    height: auto;
    width: 10rem;
  }
}

.button:hover, .button:focus {
  background-color: darken($brand, 10%);
}

